<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <h1 class="mt-3">Perguntas</h1>
        <a href="/perguntar" class="btn btn-primary mt-2">Perguntar</a>
        <% perguntas.forEach(pergunta => {%>
            <br>
            <div class="card mt-4">
                <div class="card-body">
                <h3><%= pergunta.titulo %></h3>
            </div>
            <div class="card-footer">
               <a href="/pergunta/<%= pergunta.id %>" class="float-none"><button class="btn btn-primary">Responder</button></a> 
            </div>
            </div>
        <%})%>
        
    </div>
</body>
<%- include ('partials/footer.ejs') %>
